In [1]:
import requests

In [2]:
import bs4

In [104]:
res = requests.get('https://bbc.com')

In [168]:
import re
import sys
def cleanhtml(raw_html):
  cleanr = re.compile('<.*?>')
  cleantext = re.sub(cleanr, '', raw_html)
  return cleantext

In [185]:
soup = bs4.BeautifulSoup(res.text, 'lxml')
list1=[]
list2=[]

In [217]:
for link in soup.find_all('a', href=True):
    if re.match(r'^https://', link['href']):
        if "uk-england" in str(link['href']):
            print(link['href'])
            url = requests.get('https://bbc.com')
            without_html = bs4.BeautifulSoup(res.text, 'lxml')
            list1.append(link['href'])
            list2.append(cleanhtml(str(without_html)))

https://www.bbc.com/news/uk-england-manchester-48871096
https://www.bbc.com/news/uk-england-manchester-48871096

In [224]:
data = pd.DataFrame(list1)
data2 = pd.DataFrame(list2)
buena = pd.DataFrame()
buena = buena.append([data], ignore_index = True)
buena['url'] = data2
buena.head()

,0,url
0,https://www.bbc.co.uk/news,"\n\n\n\n<meta content=""Breaking news, sport, T..."
1,https://www.bbc.co.uk/news/localnews,"\n\n\n\n<meta content=""Breaking news, sport, T..."
2,https://www.bbc.com/news/business-11428889,"\n\n\n\n<meta content=""Breaking news, sport, T..."
3,https://www.bbc.com/news/business-48842750,"\n\n\n\n<meta content=""Breaking news, sport, T..."
4,https://www.bbc.com/news/business-48842750,"\n\n\n\n<meta content=""Breaking news, sport, T..."

new